{%- from "./contentMetaData.njk" import contentMetaData %}
{%- from "./assessmentTags.njk" import assessmentTags %}
{% macro indexList(title, content, collection) %}
    <h1 class="govuk-heading-xl">{{title}}</h1>
    {{ content | safe }}
    {%- for article in collection | reverse -%}
        {% if article.data.date %}
            <article>
                <h2 class="govuk-heading-m">
                    <a href="{{ article.url }}" class="govuk-link">
                        {{ article.data.title }}
                    </a>
                </h2>
                {{ contentMetaData(article.data.date, article.data.contributors) }}
                {{ assessmentTags(article.data.tags) }}
            </article>
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}
