---
layout: layouts/performancePage.njk
title: Make a Lasting Power of Attorney Performance Data
description: "This page provides data on the performance of the Make a lasting power of attorney service."
---
{%- from "../../node_modules/govuk-frontend/dist/govuk/components/table/macro.njk" import govukTable %}
{% set perfData = make_a_lasting_power_of_attorney_service.data | performanceFilter %}

{% set tableList = [] %}
{% for perf in perfData %}
    {% set tableList = (tableList.push([
        {text: perf.dateDisplay},
        {text: perf.stats.very_satisfied, format: "numeric"},
        {text: perf.stats.satisfied, format: "numeric"},
        {text: perf.stats.neither, format: "numeric"},
        {text: perf.stats.dissatisfied, format: "numeric"},
        {text: perf.stats.very_dissatisfied, format: "numeric"},
        {text: perf.stats.user_satisfaction_percent | percentFilter, format: "numeric"},
        {text: perf.stats.digital_take_up | percentFilter, format: "numeric"},
        {text: perf.stats.uptime_percent | percentFilter, format: "numeric"}
        ]),
    tableList) %}
{% endfor %}

{{ govukTable({
  caption: "Monthly Performance Data",
  captionClasses: "govuk-heading-l",
  firstCellIsHeader: false,
  head: [
    {text: "Date"},
    {text: "Very Satisfied", format: "numeric"},
    {text: "Satisfied", format: "numeric"},
    {text: "Neither", format: "numeric"},
    {text: "Dissatisfied", format: "numeric"},
    {text: "Very Dissatisfied", format: "numeric"},
    {text: "User Satisfaction Percent", format: "numeric"},
    {text: "Digital Take Up", format: "numeric"},
    {text: "Uptime Percent", format: "numeric"}
  ],
  rows: tableList
}) }}
