---
layout: layouts/fullwidth.njk
title: OPG Services Performance Data
mastheadTitle: "OPG Services Performance Data"
mastheadDescription: "Our live services performance data for public consumption."
---
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l govuk-!-font-weight-bold">Use a Lasting Power of Attorney</h2>
        <p class="govuk-body">This page provides data on the performance of the Use a Lasting Power of Attorney service.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/use-a-lasting-power-of-attorney-service" class="govuk-link govuk-!-font-weight-bold">View performance data</a></p>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Make a Lasting Power of Attorney</h2>
        <p class="govuk-body">This page provides data on the performance of the Make a Lasting Power of Attorney service.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/make-a-lasting-power-of-attorney-service" class="govuk-link govuk-!-font-weight-bold">View performance data</a></p>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Complete the deputy report</h2>
        <p class="govuk-body">This page provides data on the performance of the Complete the deputy report service.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/complete-the-deputy-report-service" class="govuk-link govuk-!-font-weight-bold">View performance data</a></p>
    </div>
</div>
