@import "../../node_modules/govuk-frontend/dist/govuk/all.scss";
@import "./masthead";
@import "./navigation";

.app-width-container {
  @include govuk-width-container(1100px);
}

img {
  display: inline-block;
  max-width: 100%;
}

.govuk-list {
  &--inline {
    li {
      display: inline-flex;
    }
  }
}

.govuk-link {
  .govuk-tag {
    &:hover {
      text-decoration: underline;
    }
  }
}

.govuk-header {
  border-bottom: 10px solid govuk-colour("blue");
}
