name: "[workflow] Pull Request"

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Linux build on node
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: ".nvmrc"

      - name: Validate JSON Files
        run: node ./validate/index.js

      - name: Validate JSON
        uses: docker://orrosenblatt/validate-json-action:latest
        env:
          INPUT_SCHEMA: /schema.json
          INPUT_JSONS: src/_data/use_a_lasting_power_of_attorney_service/data.json,src/_data/make_a_lasting_power_of_attorney_service/data.json,src/_data/complete_the_deputy_report_service/data.json

      - name: Cache yarn dependencies
        id: cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ./node_modules
          key: modules-${{ hashFiles('yarn.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install

      - name: Run Build
        run: yarn run build

      - name: Run pa11y
        run: yarn run pa11y-ci
        continue-on-error: true

      - name: Send pa11y results to PR Comment
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          BODY_PREFIX: '<!-- pa11y-ci results -->'
          OWNER: 'ministryofjustice'
          REPO: 'opg-performance-data'
        with:
          script: |
            const script = require('./.github/workflows/scripts/pa11y-ci.js')
            await script({ github, context, core })

      - name: Audit pages using lighthouse
        uses: treosh/lighthouse-ci-action@1b0e7c33270fbba31a18a0fbb1de7cc5256b6d39 # v11.4.0
        with:
          configPath: "./lighthouserc.json"
          budgetPath: ./src/_includes/budget.json
          uploadArtifacts: true
          temporaryPublicStorage: true
