<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <div class="govuk-width-container">
    <ul class="app-navigation__list">
        <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/use">
            Use a Lasting Power of Attorney
            </a>
        </li>

        <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/make">
            Make a Lasting Power of Attorney
            </a>
        </li>
    </ul>
  </div>
</nav>
